p {
  margin: 0 10% 0 10%;
  text-align: left;
  font-size: clamp(1.1rem, 2vw, 1.5rem);
  white-space: pre-line;
}


@media (max-width: 786px) {
  p {
    margin: 0 5% 0 5%;
    font-size: clamp(1rem, 3vw, 1.3rem);
  }
}