.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: min(100%, 80%);
  margin: 0 auto;
  gap: clamp(1rem, 2vw + 0.5rem, 2rem);
  box-sizing: border-box;
}

.card {
  padding: clamp(1rem, 2vw + 0.5rem, 2rem);
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(6px);
  border-radius: 1.2rem;
  box-shadow: 0 8px 2rem var(--color-neutral-600);
}

.flat {
  padding: 0;
  background-color: transparent;
  backdrop-filter: none;
  border-radius: 0;
  box-shadow: none;
}
