.ul, .ol {
  text-align: left;
  font-size: clamp(1rem, 1.7vw, 1.2rem);
  white-space: normal;
  width: 80%;
  margin: auto;
}

/* lists with markers: bullets inside + indentation */
.withMarkers {
  list-style-position: inside;
  padding-left: 1rem; /* indent when markers are shown */
}

li  p {
  display: inline;
  width: 100%;
  margin: 0;
}

@media (max-width: 786px) {
  .ul, .ol {
    width: stretch;
  }
}