.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.imageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  height: 100%;
  min-height: 0;
}

.image {
  flex: 1;
  max-width: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: 0.5rem;
  display: block;
}