.main {
    width: 100%;
    flex: 1;
    min-height: calc(100vh - 200px);
    background-size: auto;
    background-position: center;
    background-repeat: repeat;
    background-blend-mode: multiply;
    padding: 7rem 2rem 2rem 2rem;
    box-sizing: border-box;
}

/* Add left sidebar offset when visible */
.withSidebar {
    padding-left: 300px;
}

@media (max-width: 786px) {
    .main {
        width: 100%;
        padding: 8rem 0.2rem 0.2rem 0.2rem;
    }
}