.sliderContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: auto;
    width: 90%;
    cursor: grab;
    scrollbar-width: none;
    scroll-behavior: auto;
    padding: 0 5%;
    gap: 1rem;
    -webkit-overflow-scrolling: touch;
}

.sliderItem {
    flex: 0 0 auto;
    width: 40vh;
    height: 30vh;
    position: relative;
    user-select: none;
    border-radius: 10px;
    transition: all 0.3s ease;
    will-change: transform;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin-bottom: 5%;
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sliderItem:hover,
.sliderItem:focus {
    transform: scale(1.15);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.7);
    z-index: 2;
}

.sliderItem:hover ~ *,
.sliderItem:focus ~ *,
.sliderItem:has(~ .sliderItem:hover),
.sliderItem:has(~ .sliderItem:focus) {
    filter: brightness(0.5);
}

@media (max-width: 767px) {
    .sliderContainer {
        width: 95%;
    }
}