.two-click-embed-wrapper {
  margin: 1rem auto;
  max-width: max(80vw, 61%);
}

.iframe-container {
  border: 1px solid #ccc;
  border-radius: 8px;
  position: relative;
  overflow: visible;
}

.iframe-container > * {
  max-width: 100%;
}

.consent-box {
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  padding: 1.5rem;
  border-radius: 8px;
  text-align: center;
}

.consent-message {
  color: #333;
  margin-bottom: 1rem;
  font-size: clamp(0.7rem, 2vw, 1rem);
}

.consent-button {
  background-color: var(--color-accent);
  color: white;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 6px;
  cursor: pointer;
}

.consent-button:hover {
  background-color: #358750;
}

.revoke-button {
  margin-top: 0.5rem;
  background: none;
  border: none;
  color: #888;
  font-size: 0.8rem;
  cursor: pointer;
  text-decoration: underline;
  position: absolute;
  bottom: -7%;
  left: 0;
}

.revoke-button:hover {
  color: var(--color-bg);
  background-color: var(--color-accent2);
}
