.header-select {
    position: relative;
}

.header-select-btn {
    background: none;
    color: var(--color-text);

    transition: background-color 1s ease-in-out;
}

.header-select-btn:hover {
    background-color: var(--color-accent);
    color: white;
}

.header-select > ul{
  position: absolute;
  top: 100%;
  left: 0;
  opacity: 0;
  pointer-events: none;
  animation-fill-mode: forwards;
  background: white;
  padding: 0.5rem;
  border-radius: 0 0 0.75rem 0.75rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

/* Aktive Animation (Einblenden) */
.header-select > ul.active {
  animation: fadeInSlideDown 300ms ease forwards;
  pointer-events: auto;
}

/* Inaktive Animation (Ausblenden) */
.header-select > ul.inactive {
  animation: fadeInSlideDown 300ms ease reverse;
}

/* Keyframes */
@keyframes fadeInSlideDown {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
