.link {
  display: inline-block;
  position: relative;
  padding: 0.25em 0.75em;
  border-radius: 0.5em;
  background: transparent;
  transition: color 200ms;
  overflow: hidden;
  z-index: 1;
  width: fit-content;
}

.link.active,
.link.active:hover,
.link.active:focus {
  background: linear-gradient(90deg, var(--color-accent) 0%, var(--color-accent-primary-light) 100%);
  color: white;
}