.twoClickEmbedWrapper {
  margin: 1rem 1rem;
  width: 80%
}

.consentBox {
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  padding: 1.5rem;
  border-radius: 8px;
  text-align: center;
}

.consentMessage {
  color: #333;
  margin-bottom: 1rem;
  font-size: clamp(0.7rem, 2vw, 1rem);
  white-space: wrap !important;
  width: auto;
  height: auto;
}

.consentButton {
  background-color: var(--color-accent);
  color: white;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 6px;
  cursor: pointer;
}

.consentButton:hover {
  background-color: #358750;
}

.contentContainer {
  position: relative;
  width: 100%;
  min-width: 100%; /* Mindestbreite erzwingen */
  display: block;
  box-sizing: border-box;
}

.revokeButton {
  margin-top: 0.5rem;
  background: none;
  border: none;
  color: #888;
  font-size: 0.8rem;
  cursor: pointer;
  text-decoration: underline;
  display: block;
  width: fit-content;
}

.revokeButton:hover {
  color: var(--color-bg);
  background-color: var(--color-accent2);
}