/* src/components/Header.css */
.site-header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
  padding: 1rem 2rem;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  box-shadow: 0px 0px 10px var(--color-neutral-500);
  opacity: 1;
  transition: all 300ms ease;
  z-index: 1000;
}

.site-header.inactive {
  opacity: 0;
}

.logo a {
  font-size: 1.5rem;
  font-weight: bold;
  color: #007e67;
  text-decoration: none;
  white-space: nowrap;
}

.hamburger-btn {
  display: none;
}

.main-nav {
  opacity: 0;
  height: 0;
}

.main-nav.visible {
  opacity: 1;
  height: fit-content;
}

.main-nav a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  position: relative;
}

.main-nav a:hover {
  color: #007e67;
}

.main-nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-nav li {
  display: flex;
  align-items: center;
}

select {
  appearance: none;
  /* Standard-Dropdown-Pfeil verstecken */
  background-color: white;
  color: #333;
  font-family: var(--font-primary);
  font-size: 1rem;
  padding: 0.5rem 0rem 0.5rem 0.8rem;
  border: 1px solid #ccc;
  border-radius: 0.75rem;
  position: relative;
  background-image: url("data:image/svg+xml,%3Csvg fill='black' height='16' viewBox='0 0 24 24' width='16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0.6rem center;
  background-size: 1rem;
  cursor: pointer;
  transition: border 0.2s ease, box-shadow 0.2s ease;
}

select:hover {
  border-color: #007e67;
}

select:focus {
  outline: none;
  border-color: #007e67;
  box-shadow: 0 0 0 2px rgba(0, 126, 103, 0.3);
}



/* Mobile */
@media (max-width: 768px) {
  .site-header {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(0.1rem);
  }

  .site-header .logo {
    display: flex;
    justify-content: start;
    align-self: flex-start;
    text-align: end;
  }

  .header-content {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: start;
    align-self: flex-end;
    width: 400px;
  }

  .hamburger-btn {
    width: min(100px,38%);
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0.5rem;
    background: none;
    transition: all 300ms ease;
  }

  .hamburger-btn:focus-visible, .hamburger-btn:focus {
    background: none;
    outline: 1px solid #333;
  }

  .hamburger-btn>hr {
    position: relative;
    width: 100%;
    margin: auto;
  }

  .hamburger-btn.active>hr {
    position: absolute;
  }

  .hamburger-btn.active :nth-child(1) {
    position: absolute;
    width: 80%;
    left: 10%;
    top: 47%;
    transform-origin: 50% 50%;
    transform: rotate(45deg);
    transition: all 300ms ease;
  }

  .hamburger-btn.active :nth-child(2) {
    position: absolute;
    width: 80%;
    left: 10%;
    top: 47%;
    transform-origin: 50% 50%;
    transform: rotate(-45deg);
    transition: all 300ms ease;
  }

  .hamburger-btn.active :nth-child(3) {
    display: none;
  }

  .hamburger-btn ~ .main-nav {
    display: none;
  }

  .hamburger-btn.active ~ .main-nav {
    display: block;
  }

  .main-nav {
    margin-top: 5%;
  }

  .main-nav ul {
    flex-direction: column;
    text-align: right;
    width: 100%;
    gap: 0.5rem;
  }

  .main-nav li {
    width: 100%;
  }

  .main-nav li a,
  .main-nav li select {
    width: 100%;
  }
}