.page {
  width: stretch;
  max-width: var(--max-width);
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(6px);
  border-radius: 1.2rem;
  padding: 5rem 2rem 5rem 2rem;
  box-shadow: 0 8px 32px var(--color-neutral-500);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;

  margin: 1rem auto 1rem auto;
  box-sizing: border-box;
}