.page {
  width: stretch;
  max-width: var(--max-width);
  background-color: var(--color-neutral-1000);
  backdrop-filter: blur(6px);
  border-radius: 1.2rem;
  padding: clamp(1.25rem, 2vw + 1rem, 5rem) clamp(1rem, 2vw, 2rem);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(1rem, 2vw + 0.5rem, 3rem);

  margin: 1rem auto;
  box-sizing: border-box;
}

.blockWrapper {
  width: 100%;
}

.blockWrapper.selected {
  outline: 2px solid var(--color-accent);
  border-radius: 0.8rem;
}