.timeline-container {
  position: relative;
  width: 90%;
  margin: 0 auto;
  padding: 5rem 3.2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.timeline-item {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 5rem 0;
  width: 100%;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.timeline-item .time-box {
  min-width: 80px;
  padding: 0.4rem 0.7rem;
  background-color: var(--color-accent-primary-light);
  color: white;
  font-weight: bold;
  border-radius: 6px;
  position: absolute;
  left: -5%;
  top: 0;
  z-index: 100;
  white-space: nowrap;
  text-align: center;
  transform: translateX(-100%);
}

.timeline-item .time-box.current {
  background-color: var(--color-accent2);
}

.timeline-item .content {
  background-color: #f4f4f4;
  padding: 1rem;
  border-radius: 0.5rem;
  position: relative;
  max-width: 100%;
}

.timeline-line {
  position: absolute;
  top: 0;
  left: 0.5rem;
  width: 0.2rem;
  height: 100%;
  background-image: repeating-linear-gradient(to bottom,
      var(--color-accent-primary-light),
      var(--color-accent-primary-light) 0.5rem,
      transparent 0.5rem, 
      transparent 1rem);
  z-index: 1;
}

/* Zustand Styling */
.timeline-item.inactive {
  opacity: 0.2;
  transform: scale(0.95);
}

.timeline-item.adjacent {
  opacity: 0.5;
}

.timeline-item.active {
  opacity: 1;
  transform: scale(1.05);
}
.timeline-item.active .content {
  box-shadow: 0.1rem 0.1rem 0.5rem #888;
}


@media screen and (max-width: 768px) {
  .timeline-container {
    padding-left: 1rem;
    padding-right: 0;
    width: 100%;
  }

  .timeline-item .content {
    margin-left: 1rem;
    font-size: 0.9rem;
  }

  .timeline-item .time-box {
    font-size: 0.8rem;
    padding: 0.5rem 1rem;
    left: 15vw;
    top: -3rem;
  }
}