.slider-container {
    overflow-x: auto;
    white-space: nowrap;
    width: 90%;
    cursor: grab;
    scrollbar-width: none;
    scroll-behavior: auto;
    padding: 3%;
}

.slider-item {
    position: relative;
    display: inline-block;
    height: 31vh;
    margin: 1%;
    user-select: none;
    border: 0px solid white;
    border-radius: 10px;
    transform: scale(1);
    transition: transform 0.3s ease, border 0.3s ease, border-radius 0.3s ease;
    z-index: 500;
    will-change: transform;
    transform-origin: center center;
}

.slider-item:hover,
.slider-item:focus,
.slider-item:focus-visible {
    transform: scale(1.15);
    border: 0px solid white;
    border-radius: 20px;
    box-shadow: 0px 5px 10px #333;
    z-index: 1000;
}