.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.imageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.image {
  max-width: 100%;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 0.5rem;
  display: block;
}