.footer {
    min-height: 20vh;
    background-color: var(--color-accent);

    color: var(--color-bg);

    padding: 2% 5% 2% 5%;
}

.footer>div {
    display: flex;
    justify-content: left;
    gap: 5%;
    align-items: start;
}

.footer>div>ul {
    font-size: 1.2rem;
}

.footer>div>ul>li>a {
    color: var(--color-bg);
    text-decoration: underline;
}