.footer {
    width: 100%;
    min-height: 20vh;
    background-color: var(--color-accent);
    background-image:
        url('https://www.transparenttextures.com/patterns/redox-02.png');

    color: var(--color-bg);
    margin: 0;

    box-shadow: 0px -3px 5px #555555;

    border-radius: 3rem 3rem 0 0;
    overflow: hidden;
}

.footer>div {
    width: fit-content;
    display: flex;
    justify-content: left;
    align-items: start;
    flex-wrap: wrap;
    gap: 5%;
    margin: auto;
    padding: 2% 5% 2% 5%;
}

.footer>div>ul {
    font-size: 1.2rem;
}

.footer>div>ul>li>a {
    color: var(--color-bg);
    text-decoration: underline;
}

@media (min-width: 600px) and (max-width: 800px) {
  .footer > div > *:first-child {
    flex-basis: auto;
    width: 31%;
    display: block;
    margin-right: 100%;
  }

  /* Rest normale Flex-Anordnung */
  .footer > div > *:not(:first-child) {
    flex: 1 1 auto;
  }
}

    @media (max-width: 600px) {
        .footer>div {
            flex-direction: column;
            justify-content: center;
        }

        .footer>div>*:first-child {
            width: 31%;
        }
    }